.hero {
    position: relative;
    height: 100vh;
    border-radius: 0px 0px 15px 15px;
    background: #002547;
    z-index: 10;

    .brend__text {
        margin: 0;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    
    .brend__name {
        margin-right: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #1D92FF;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }

    &__bg-effect {
        position: absolute;
        top: 50px;
        left: -200px;
        width: 1034.12px;
        height: 414.54px;
        background: linear-gradient(88.16deg, rgba(7, 45, 81, 0.6) 1.5%, rgba(0, 37, 71, 0.6) 82.37%);
        transform: rotate(44.88deg);
        z-index: -5;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 580px;
        font-weight: 600;
        font-size: 60px;
        line-height: 140%;
        text-transform: capitalize;
        color: #FFFFFF;

        span {
            font-size: 63px;
            color: #1D92FF;
        }
    }

    &__img {
        animation: updown 3s linear infinite;
    }

    @keyframes updown {
        0% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(-20px);
        }
    }
}