.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;

    .nav {
        &__list {
            display: flex;
            align-items: center;
        }

        .nav__item+.nav__item {
            margin-left: 40px;
        }

        &__link {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            text-transform: capitalize;
            color: #cacaca;
        }
    }
}